alacritty/**/theme/*
alacritty/**/font/*

nvim/.config/nvim/plugin

zsh/**/.plugins
zsh/**/.zcomp*

karabiner/**/automatic_backups/*

lazygit/**/state.yml

hypr/.config/hypr/*
!hypr/.config/hypr/userprefs.conf
