"" -- Options --
set relativenumber
set incsearch
set clipboard+=unnamed

" -- Plugins(https://jb.gg/ideavim-plugins) --
set highlighted-yank
set commentary
set easymotion
set surround
set NERDTree

let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

" -- Keymaps --
let mapleader=" "

" - Action -
" search
nmap <leader>/ <Action>(SearchEverywhere)
nmap <leader><leader> <Action>(GotoFile)
nmap <leader>fa <Action>(GotoAction)
nmap <leader>fu <Action>(RecentFiles)
nmap <leader>fc <Action>(GotoClass)
nmap <leader>fs <Action>(GotoSymbol)

" tab
nmap <s-l> <Action>(NextTab)
nmap <s-h> <Action>(PreviousTab)

" lsp
nmap <leader>ca <Action>(ShowIntentionActions)
nmap <buffer>gD <Action>(GotoDeclaration)
nmap <buffer>gy <Action>(GotoTypeDeclaration)
nmap <buffer> ge <Action>(EditorCodeBlockEnd)
nmap <buffer> gi <Action>(GotoImplementation)
"nmap <buffer> gn <Action>(MethodDown)
"nmap <buffer> gp <Action>(MethodUp)
nmap <leader>rn <Action>(RenameElement)
nmap gl <Action>(ShowErrorDescription)
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
nmap <leader>no <Action>(NextO)

" git
nmap <leader>gc <Action>(Git.Branches)
nmap <leader>gp <Action>(Git.Commit.And.Push.Executor)
nmap <leader>gP <Action>(Vcs.Push)
nmap <leader>gm <Action>(VcsGroups)
nmap <leader>gf <Action>(Git.Fetch)
nmap <leader>ga <Action>(Annotate)
nmap <leader>gl <Action>(ActivateVersionControlToolWindow)
nmap <leader>gt <Action>(ActivateCommitToolWindow)

map <leader>DR <Action>(Diff.MagicResolveConflicts)
map <leader>DN <Action>(NextDiff)
map <leader>DP <Action>(PreviousDiff)

" run
nmap <leader>rc <Action>(ChooseRunConfiguration)
nmap <leader>rs <Action>(Stop)
nmap <leader>rr <Action>(Rerun)
nmap <leader>rd <Action>(DebugClass)
nmap <leader>rh <Action>(ImportTests)
nmap <leader>rm <Action>(RunMenu)
nmap <leader>rf <Action>(RerunFailedTests)

" debug
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>do <Action>(StepOver)
map <leader>di <Action>(StepInto)
map <leader>dr <Action>(EvaluateExpression)
map <leader>dC <Action>(RunToCursor)
map <leader>dc <Action>(Resume)

" etc
nmap <c-w>m <Action>(HideActiveWindow)
map <leader>ft <Action>(ActivateTerminalToolWindow)

" - vim -
nnoremap <c-s> :w<cr>

" linux
nnoremap <a-h> <c-w>h
nnoremap <a-l> <c-w>l
nnoremap <a-k> <c-w>k
nnoremap <a-j> <c-w>j
nnoremap <a-w> :bd<cr>

" mac
nnoremap <d-h> <c-w>h
nnoremap <d-l> <c-w>l
nnoremap <d-k> <c-w>k
nnoremap <d-j> <c-w>j
nnoremap <d-w> :bd<cr>
