"" -- Options --
set relativenumber
set incsearch
set clipboard+=unnamed

" -- Plugins(https://jb.gg/ideavim-plugins) --
set highlighted-yank
set commentary
set easymotion
set surround
set NERDTree

let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

" -- Keymaps --
let mapleader=" "

" - Search -
nnoremap <leader>/ :action SearchEverywhere<cr>
nnoremap <leader><leader> :action GotoFile<cr>
nnoremap <leader>fa :action GotoAction<cr>
nnoremap <leader>fu :action RecentFiles<cr>
nnoremap <leader>fc :action GotoClass<cr>
nnoremap <leader>fs :action GotoSymbol<cr>

" - Action -
map <leader>ca :action ShowIntentionActions<cr>
map <c-w>m :action HideActiveWindow<cr>
map gl :action ShowErrorDescription<cr>


" - Tab -
nnoremap <s-l> :action NextTab<cr>
nnoremap <s-h> :action PreviousTab<cr>

" - Navigation -
" linux
nnoremap <a-h> <c-w>h
nnoremap <a-l> <c-w>l
nnoremap <a-k> <c-w>k
nnoremap <a-j> <c-w>j
nnoremap <a-w> :bd<cr>

" mac
nnoremap <d-h> <c-w>h
nnoremap <d-l> <c-w>l
nnoremap <d-k> <c-w>k
nnoremap <d-j> <c-w>j
nnoremap <d-w> :bd<cr>
